<!DOCTYPE html>

<html>
	<head>
		<title>candle-wiki :: login</title>
		<LINK REL=StyleSheet HREF="http://udacity-cs253.appspot.com/static/main.css" TYPE="text/css">
	</head>
	<body>
		<h2><a href="/" class="main-title">candle-wiki</a> login</h2>
		<form method="post">
			<label>Username: <input type="text" name="username" value="{{username}}"></label><span class="error">{{error}}</span>
				<label>Password: <input type="password" name="password"></label>
			<input type="submit">
		</form>
	</body>
</html>
